<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RnD.Net.WcfSecurity.SecurityContext.SecurityContextProvider">
        <host>
          <baseAddresses>
            <add baseAddress = "http://robospectra:8733/SecurityContextProvider" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="RnD.Net.WcfSecurity.Contracts.IDroneManager" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>